@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Now';
    src: url('/assets/fonts/now-light.otf');
}

@font-face {
    font-family: 'Now-Medium';
    src: url('/assets/fonts/now-medium.otf');
}

@font-face {
    font-family: 'Now-Black';
    src: url('/assets/fonts/now-black.otf');
}

@layer base {
    html {
        font-family: 'Now', sans-serif;
    }
}

.text-in {
    display: block;
    animation: text-in 0.8s ease;
}

.text-out {
    animation: text-out 0.8s ease;
}

.leading {
    line-height: 1.5 !important;
}

@keyframes text-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes text-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
